<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <title>mnsec xterm - {{host}}</title>
    <style>
      html {
        font-family: arial;
      }
      body {
	margin: 8px;
      }
      .menucontrols {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
        justify-content: flex-end;
        /* top | right | bottom | left */
        margin: auto auto auto 0;
        padding: 0;
      }
      .menucontrols button {
        font-weight: bolder !important;
        font-size: 1rem !important;
        background-color: lightgray;
      }
      @media only screen and (max-width: 600px) {
        .menucontrols button {
          font-size: 1.5rem !important;
        }
      }
    </style>
    <link rel="stylesheet" href="/assets/plugins/xterm/xterm.css">
  </head>
  <body>
    <div style="display: flex;">
      <a href="https://github.com/mininet-sec/mininet-sec" target="_blank" style="font-size: 1.4em; text-decoration: none; color:black"><img style="height: 50px" src="/assets/mininet-sec.png" /></a>
        <span style="font-size: small; display: flex; flex-wrap: wrap; gap: .1em; justify-content: flex-end; margin: auto 0 auto auto;">
          status:
          <span style="font-size: small" id="status">connecting...</span>
        </span>
    </div>


    <div style="width: 100%; height: calc(100% - 100px)" id="terminal"></div>

    <div style="display: flex;">
      <div class="menucontrols">
        <button id="esc"  type="button">esc</button>
        <button id="tab"  type="button">tab</button>
        <button id="ctrl" type="button">ctrl</button>
        <button id="alt"  type="button">alt</button>
        <button id="larr" type="button">&larr;</button>
        <button id="uarr" type="button">&uarr;</button>
        <button id="darr" type="button">&darr;</button>
        <button id="rarr" type="button">&rarr;</button>
      </div>
    </div>
    <!-- xterm -->
    <script type="text/javascript" src="/assets/plugins/xterm/xterm.js"></script>
    <script type="text/javascript" src="/assets/plugins/xterm-addon-fit/addon-fit.js"></script>
    <script type="text/javascript" src="/assets/plugins/xterm-addon-web-links/addon-web-links.js"></script>
    <script type="text/javascript" src="/assets/plugins/xterm-addon-search/addon-search.js"></script>
    <script type="text/javascript" src="/assets/plugins/socket.io/socket.io.min.js"></script>

    <script>
      let ctrlPressed = false;
      let altPressed = false;
      const specialKeyMap = {
	uarr: String.fromCharCode(27, 91, 65),
	darr: String.fromCharCode(27, 91, 66),
	rarr: String.fromCharCode(27, 91, 67),
	larr: String.fromCharCode(27, 91, 68),
	esc:  String.fromCharCode(27),
	tab:  String.fromCharCode(9),
      }
      let fontSize = 16;
      if (window.matchMedia("(max-width: 600px)").matches) {
        fontSize = 10;
      }
      const term = new Terminal({
        cursorBlink: true,
        macOptionIsMeta: true,
        scrollback: 999999,
        fontSize: fontSize,
      });
      term.attachCustomKeyEventHandler(customKeyEventHandler);
      // https://github.com/xtermjs/xterm.js/issues/2941
      const fit = new FitAddon.FitAddon();
      term.loadAddon(fit);
      term.loadAddon(new WebLinksAddon.WebLinksAddon());
      term.loadAddon(new SearchAddon.SearchAddon());

      term.open(document.getElementById("terminal"));
      fit.fit();
      term.resize(15, 50);
      fit.fit();
      term.writeln("Welcome to Mininet-sec @ {{host}}");
      term.writeln('')
      term.writeln("You can copy with ctrl+shift+c or ctrl+shift+x");
      term.writeln("You can paste with ctrl+shift+v");
      term.writeln("You can clear with ctrl+l");
      term.writeln('')
      term.focus();
      term.onData((data) => {
        let shouldClear = false;
        if (ctrlPressed && altPressed) {
          data = String.fromCharCode(27, data.codePointAt(0) % 32);
          shouldClear = true;
	} else if (ctrlPressed) {
          data = String.fromCharCode(data.codePointAt(0) % 32);
          shouldClear = true;
	} else if (altPressed) {
          data = String.fromCharCode(27, data.codePointAt(0));
          shouldClear = true;
	}
        socket.emit("pty-input", { input: data, host: "{{host}}" });
        if (shouldClear) {
          clearVirtualKeyboard();
	}
      });

      const socket = io.connect("/pty?host={{host}}");
      const status = document.getElementById("status");

      socket.on("pty-output-{{host}}", function (data) {
        term.write(data.output);
      });

      socket.on("server-disconnected", function (data) {
        window.close();
        term.dispose();
      });

      socket.on("connect", () => {
        fitToscreen();
        status.innerHTML =
          '<span style="background-color: lightgreen;">connected</span>';
      });

      socket.on("disconnect", () => {
        status.innerHTML =
          '<span style="background-color: #ff8383;">disconnected</span>';
      });

      function fitToscreen() {
	if (window.visualViewport) {
          document.body.style.width = `${parseInt(window.visualViewport.width) - 16}px`;
          document.body.style.height = window.visualViewport.height + "px";
	}
        fit.fit();
        const dims = { cols: term.cols, rows: term.rows };
        socket.emit("resize", { dims: dims, host: "{{host}}" });
      }

      function debounce(func, wait_ms) {
        let timeout;
        return function (...args) {
          const context = this;
          clearTimeout(timeout);
          timeout = setTimeout(() => func.apply(context, args), wait_ms);
        };
      }

      /**
       * Handle copy and paste events
       */
      function customKeyEventHandler(e) {
        if (e.type !== "keydown") {
          return true;
        }
        if (e.ctrlKey && e.shiftKey) {
          const key = e.key.toLowerCase();
          if (key === "v") {
            // ctrl+shift+v: paste whatever is in the clipboard
            navigator.clipboard.readText().then((toPaste) => {
              term.paste(toPaste);
            });
            return false;
          } else if (key === "c" || key === "x") {
            // ctrl+shift+x: copy whatever is highlighted to clipboard

            // 'x' is used as an alternate to 'c' because ctrl+c is taken
            // by the terminal (SIGINT) and ctrl+shift+c is taken by the browser
            // (open devtools).
            // I'm not aware of ctrl+shift+x being used by anything in the terminal
            // or browser
            const toCopy = term.getSelection();
            navigator.clipboard.writeText(toCopy);
            term.focus();
            return false;
          }
        }
        if (e.ctrlKey) {
          const key = e.key.toLowerCase();
          if (key === "l") {
            term.clear();
            return false;
          }
        }
        return true;
      }

      /* Handle virtual keyboard useful for mobile devices
       */
      const ctrlButton = document.querySelector("#ctrl");
      const altButton = document.querySelector("#alt");
      document.querySelectorAll(".menucontrols > button").forEach((el) => {
        el.addEventListener("mousedown", handleVirtualKeyboard);
        el.addEventListener("touchend", handleVirtualKeyboard);
      });
      function handleVirtualKeyboard(evt) {
          //term.writeln(`height: ${window.innerHeight} width: ${window.innerWidth} scree-h: ${screen.height} screen-w: ${screen.width} vp-w: ${window.visualViewport.width} vp-h: ${window.visualViewport.height}`);
          evt.preventDefault();
          if (evt.target.id in specialKeyMap) {
            socket.emit("pty-input", { input: specialKeyMap[evt.target.id], host: "{{host}}" });
            clearVirtualKeyboard();
	  } else if (evt.target.id === "ctrl"){
	    ctrlButton.style.backgroundColor = "lightblue";
            ctrlPressed = true;
	  } else if (evt.target.id === "alt"){
	    altButton.style.backgroundColor = "lightblue";
            altPressed = true;
	  }
      }
      function clearVirtualKeyboard() {
	ctrlButton.style.backgroundColor = "lightgray";
	altButton.style.backgroundColor = "lightgray";
        ctrlPressed = false;
        altPressed = false;
      }

      const wait_ms = 50;
      if (window.visualViewport) {
        window.visualViewport.onresize = debounce(fitToscreen, wait_ms);
      } else {
        window.onresize = debounce(fitToscreen, wait_ms);
      }

      window.onbeforeunload = function () {
        socket.emit('disconnect', {'host': "{{host}}"});
      }
    </script>
    {% if gtag %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{gtag}}"></script>
    <script>
      window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);};gtag('js',new Date());gtag('config', '{{gtag}}');
    </script>
    {% endif %}
  </body>
</html>
